# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/user-guide/setup/#re-create-your-config-file

# Git 
{{- $gitEmail      := "" -}}
{{- $gitName       := "" -}}
{{- $gpgSigningKey := "" -}}

{{- if (hasKey . "gitEmail") -}}
{{-   $gitEmail = .gitEmail -}}
{{- else -}}
{{-   $gitEmail = promptString "Git commit email" -}}
{{- end -}}

{{- if (hasKey . "gitName") -}}
{{-   $gitName = .gitName -}}
{{- else -}}
{{-   $gitName = promptString "Git commit name:" -}}
{{- end -}}

{{- if (hasKey . "gpgSigningKey") -}}
{{-   $gpgSigningKey = .gpgSigningKey -}}
{{- else  -}}
{{-   $gpgSigningKey = promptString "GPG signing key" -}}
{{- end }}

[git]
    autoCommit = false
    autoPush = false

[data]
    git.email      = {{ $gitEmail | quote }}
    git.name       = {{ $gitName | quote }}
    gpg.signingkey = {{- $gpgSigningKey | quote -}}
