Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

## Home cluster
Host pi-zero
    HostName 10.19.1.90
    User pi
    Port 22

Host kube-master
    HostName 10.19.1.147
    User pi
    Port 22

# Personal GitHub
Host personalgit
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_personal.pub
    IdentitiesOnly yes

# Work Gitlab
Host workgit
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/id_work.pub
    IdentitiesOnly yes
