Host *
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  IdentityAgent "~/.ssh/agent.sock"
{{   end }}
{{ else if eq .chezmoi.os "darwin" -}}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end }}

# Pleiades cluster
Host pleione
    HostName pleione.local
    User pi
    Port 22

Host atlas
    HostName atlas.local
    User pi
    Port 22

Host alcyone
    HostName alcyone.local
    User pi
    Port 22

Host merope
    HostName merope.local
    User pi
    Port 22

# Personal GitHub
Host personalgithub
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_personal.pub
    IdentitiesOnly yes

# Personal Gitlab
Host personalgitlab
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/id_personal.pub
    IdentitiesOnly yes

# Work Gitlab
Host workgit
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/id_work.pub
    IdentitiesOnly yes
