{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Install NVM (node)
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash

# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# Install Starship
curl -sS https://starship.rs/install.sh | sh

# Install Helix editor
git clone https://github.com/helix-editor/helix
cd helix
cargo install --path helix-term

GREEN='\033[0;32m'
printf "${GREEN}Package install complete\n"

{{ end -}}
