{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Install chezmoi
sh -c "$(curl -fsLS chezmoi.io/get)"

# Install NVM (node)
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash

# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# Install Starship
curl -sS https://starship.rs/install.sh | sh

# Install Helix editor
git clone https://github.com/helix-editor/helix
cd helix
cargo install --path helix-term

# Install TGswitch
wget https://raw.githubusercontent.com/warrensbox/tgswitch/release/install.sh && \
    chmod 755 install.sh && \
    ./install.sh -b $HOME/.bin

GREEN='\033[0;32m'
printf "${GREEN}Package install complete\n"

{{ end -}}
